@model IEnumerable<ConceptArchitect.BookManagement.Book>

<a asp-action="Add" class="btn-secondary btn btn-sm">Add New</a>

<h2>Recommended Books</h2>
<div class="row">
    @foreach (var book in Model)
    {
    <div class="col col-md-3">
        <div class="card" style="width:18rem;">
            <img class="card-img-top" src="@book.CoverPhoto" alt="Card image cap"/>
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">Book Description</p>
                <a asp-action="details" asp-route-id="@book.Id" class="btn  btn-primary">details</a>
                <a asp-action="Edit" asp-route-id="@book.Id" class="btn  btn-primary">edit</a>
                <a asp-action="Delete" asp-route-id="@book.Id" class="btn  btn-primary">Delete</a>

            </div>
        </div>
    </div>
        }
</div>
