@using ConceptArchitect.BookManagement
@model Author

<head>
    <link rel="stylesheet" href="~/css/AddPageStyle.css" asp-append-version="true" />
    <title>Add Authors</title>
    <style>
        body {
            background-image: url("https://wallpaperaccess.com/full/497156.jpg");
        }
    </style>
</head>

<body>
<div>
    <form asp-action="Add" method="POST" class="form-content animate">
        <h2 class="form-name">ADD AUTHOR</h2>
        <div class="form-container">
            <div>
                    <label asp-for="@Model.Id" class='form-label'>Id</label>
                    <input type='text' name="Id" value="@Model.Id" />
            </div>
           
            <div>
                    <label asp-for="@Model.Name" class='form-label'>Name</label>
                    <input type='text' name="Name" value="@Model.Name" />
            </div>

           <div>
                    <label asp-for="@Model.BirthDate" class='form-label'>DOB</label>
                    <input type='text' name="BirthDate" value="@Model.BirthDate" />
           </div>

           <div>
               <label asp-for="@Model.Biography" class='form-label'>Biography</label>
                <input type='text' name="biography" value="@Model.Biography"/>
           </div>
           
           <div>
                <label asp-for="@Model.Email" class='form-label'>Email</label>
                <input type='text' name="email" value="@Model.Email"/>
            </div>
            
            <div>
                    <label asp-for="@Model.Photo" class='form-label'>Photo</label>
                    <input type='text' name="photo" value="@Model.Photo" />
            </div>
            <div>
                    <input type="submit" value="Add Author" class='btn btn-primary submit-btn' />
            </div>
                
        </div>
    </form>
</div>
</body>