@model IEnumerable<ConceptArchitect.BookManagement.Author>


<head>
    <link rel="stylesheet" href="~/css/IndexStyling.css" asp-append-version="true" />
    <title>Authors</title>
</head>

<a asp-action="Add" class='btn-secondary btn btn-sm'>Add New</a>

<h2>Recommended Authors</h2>

<div class="row">
    
    @foreach (var author in Model)
    {
        <div class='col col-md-3'>
            <div class="card">
                <img class="card-img-top" src="@author.Photo" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@author.Name</h5>
                    <p class="card-text">author biography</p>
                    <p class="card-text">@author.Email</p>
                    <a asp-action="details" asp-route-id="@author.Id" class="btn  btn-primary button-class " style="background:#45a3f5">Details</a>
                    <a asp-action="edit" asp-route-id="@author.Id" class="btn  btn-primary button-class " style="background:#0ff24b">Update</a>
                    <a asp-action="Delete" asp-route-id="@author.Id" class="btn  btn-primary button-class " style="background:#f2271f">Delete</a>
                </div>
            </div>
        </div>
    }
</div>