@using ConceptArchitect.BookManagement
@model User


<head>
    <link rel="stylesheet" href="~/css/AddPageStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AddPageStyle.css" asp-append-version="true" />
    <title>Add Authors</title>
    <style>
        body {
            background-image: url("https://wallpaperaccess.com/full/497156.jpg");
        }
    </style>
</head>
<body>
<div>
        <form asp-action="Add" method="Post" class="form-content animate">
            <h2 class="form-name">REGISTER</h2>
            <div class="form-container">
                <div>
                    <label asp-for="@Model.Email" class='form-label'>Email</label>
                    <input type='text' name="Id" value="@Model.Email" />
                </div>
                <div>
                    <label asp-for="@Model.Password" class='form-label'>Password</label>
                    <input type='password' name="Password" value="@Model.Password" />
                </div>
                <div>
                    <label asp-for="@Model.Name" class='form-label'>Name</label>
                    <input type='text' name="Id" value="@Model.Name" />
                </div>
                <div>
                    <label asp-for="@Model.ProfilePhoto" class='form-label'>Profile Photo</label>
                    <input type='url' name="photo" value="@Model.ProfilePhoto" />
                </div>
                <div>
                    <input type="submit" value="Add User" class='btn btn-primary submit-btn' />
                </div>


                @* <button class="submit-button" type="submit" onclick="login()">REGISTER</button>*@

                <p> Do you have an account? <a asp-action="Login" asp-controller="User">Login Here</a></p>
            </div>
        </form>
        
</div>
    
</body>
