@using ConceptArchitect.BookManagement
@model User

<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />

   


<body>
    <div class="container">
        
        <form asp-action="Add" asp-controller="User">
            <h2>REGISTER</h2>
            <label asp-for="@Model.Email" class='form-label'>Email</label>
            <input type='text' name="Id" value="@Model.Email" />
            <label asp-for="@Model.Password" class='form-label'>Password</label>
            <input type='text' name="Password" value="@Model.Password" />
            <label asp-for="@Model.Name" class='form-label'>Name</label>
            <input type='text' name="Id" value="@Model.Name" />
            <label asp-for="@Model.ProfilePhoto" class='form-label'>Profile Photo</label>
            <input type='url' name="photo" value="@Model.ProfilePhoto" />
           
            <button class="submit-button" type="submit" onclick="login()">REGISTER</button>
        </form>
        <p> Do you have an account? <a href = "Login.html">Login Here</a></p>
    </div>
</body>
